body {
    background-color: lightslategray;
}

img{
   display: block;
    margin: auto;
    width: 30%;
section h1 {
    font-family: 'Patua One', cursive;
}

h2 {
    font-family: 'Patua One', cursive;
    align: center;
}
 
}

#game{
    display:flex;
    justify-content: space-around;
    height:500px; 
}

#game img{
    height: 200px;
    width: 300px;
}